{
  "presets": [
    ["module:metro-react-native-babel-preset"]
  ],
  "plugins": [
    ["module-resolver", {
      "extensions": [".js", ".ios.js", ".android.js", ".json"],
      "alias": {
        "@components": "./src/components/native",
        "@src": "./src"
      }
    }]
  ]
}
