{
  "presets": [
    ["module:metro-react-native-babel-preset"]
  ],
  "plugins": [
    ["module-resolver", {
      "extensions": [".tsx", ".ios.tsx", ".android.tsx", ".json"],
      "alias": {
        "@components": "./src/components/native",
        "@src": "./src"
      }
    }]
  ]
}
